<h1 mat-dialog-title>Edit Result</h1>
<div mat-dialog-content>
  <form [formGroup]="matchEditForm">
    <div>
      <mat-form-field>
        <mat-label>{{ homeTeamName }}</mat-label>
        <input type="number" matInput formControlName="homeScore">
      </mat-form-field>
      <div>
        <mat-slide-toggle (change)="walkoverToggle($event, 1)" formControlName="walkoverHome">Walkover</mat-slide-toggle>
      </div>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ awayTeamName }}</mat-label>
        <input type="number" matInput formControlName="awayScore">
      </mat-form-field>
      <div>
        <mat-slide-toggle (change)="walkoverToggle($event, 2)" formControlName="walkoverAway">Walkover</mat-slide-toggle>
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveMatch()">Save</button>
</div>
