<h1 mat-dialog-title>Edit {{ currentUmpireDetails.forename }} {{ currentUmpireDetails.surname }} Details</h1>
<div mat-dialog-content>
  <form [formGroup]="editUmpireForm">
    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input #forename matInput formControlName="forename">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="surname">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>About {{ forename.value }}</mat-label>
        <textarea  matInput formControlName="about"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label *ngIf="forename.value; else shortEmailLabel">{{ forename.value }}'s Email</mat-label>
        <ng-template #shortEmailLabel><mat-label>Email</mat-label></ng-template>
        <input type="email" email matInput formControlName="email">
        <mat-error>Please enter a valid email address</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label *ngIf="forename.value; else shortPhoneLabel">{{ forename.value }}'s Phone Number</mat-label>
        <ng-template #shortPhoneLabel><mat-label>Phone</mat-label></ng-template>
        <input  matInput formControlName="phone">
      </mat-form-field>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-dialog-actions>
