<mat-vertical-stepper> <!-- todo - add linear -->
  <mat-step [stepControl]="basicDetailsForm">
    <ng-template matStepLabel>Basic Details</ng-template>
    <form [formGroup]="basicDetailsForm">
      <div class="row">
        <mat-form-field class="col-4">
          <!-- todo make this dynamic eg 'Summer or winter option, then year(s) option -->
          <input matInput placeholder="Name - eg 'Winter 2020'" formControlName="name">
        </mat-form-field>
        <mat-form-field class="col-4">
          <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
    </form>

  </mat-step>
  <mat-step label="Choose Divisions">
    <div class="row">
      <div class="col-4" *ngFor="let division of divisions | async">
        <mat-checkbox (change)="updateDynamicDivisionSteps($event, division)">{{ division.name }}</mat-checkbox>
      </div>
    </div>
  </mat-step>
  <mat-step label="Choose Teams">
    <p *ngIf="!dynamicDivisionSteps.length">Please select your divisions first</p>
    <mat-horizontal-stepper>
      <mat-step *ngFor="let divisionStep of dynamicDivisionSteps" [label]="divisionStep.name">
        <div class="col-4" *ngFor="let team of teams; let i = index;">
          <mat-checkbox [disabled]="team.addedToSeason && team.addedToSeason != divisionStep.id" (change)="updateTeamsInDivisions($event, i, divisionStep.id, team)">{{ team.name }}</mat-checkbox>
          {{ team.addedToSeason }}
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <button (click)="test()">Test</button>
  </mat-step>
  <mat-step label="Finalise"></mat-step>
</mat-vertical-stepper>
