#custom-player-snackbar {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin: 24px auto;
  max-width: 22vw;
  min-width: 344px;
  padding: 14px 16px;
  min-height: 48px;
  transform-origin: center;
  color: rgba(255,255,255,.7);
  background: #323232;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: sticky;
  bottom: 24px;
}
mat-card-header.mat-card-header {
  border-radius: 3px;
  background: #FFF;
}
mat-card-title.mat-card-title {
  margin-bottom: 0;
  padding: 20px 0;
  color: #4E546C;
  font-family: "Roboto Slab", serif;
}
mat-card {
  margin-top: 50px;
  padding-top: 0;
  min-height: 504px;
  position: relative;
  .mat-card-content {
    max-height: 395px;
    min-height: 395px;
    overflow: scroll;
  }
}
svg {
  max-width: 120px;
  margin-left: auto;
  margin-top: -35px;
}
.floating-add {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
