<h1 mat-dialog-title>Edit Result</h1>
<div mat-dialog-content>
  <form [formGroup]="addTeamForm">
    <div>
      <mat-form-field>
        <mat-label>Team Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>About {{ teamName }}</mat-label>
        <textarea matInput formControlName="narrative"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-select formControlName="primaryColour">
          <mat-option>-- None --</mat-option>
          <mat-option class="red" value="rgb(244, 67, 54)">Red</mat-option>
          <mat-option class="pink" value="rgb(233, 30, 99)">Pink</mat-option>
          <mat-option class="purple" value="rgb(156, 39, 176)">Purple</mat-option>
          <mat-option class="deep-purple" value="rgb(103, 58, 183)">Deep Purple</mat-option>
          <mat-option class="indigo" value="rgb(63, 81, 181)">Indigo</mat-option>
          <mat-option class="blue" value="rgb(33, 150, 243)">Blue</mat-option>
          <mat-option class="light-blue" value="rgb(3, 169, 244)">Light Blue</mat-option>
          <mat-option class="cyan" value="rgb(0, 188, 212)">Cyan</mat-option>
          <mat-option class="teal" value="rgb(0, 150, 136)">Teal</mat-option>
          <mat-option class="green" value="rgb(76, 175, 80)">Green</mat-option>
          <mat-option class="light-green" value="rgb(139, 195, 74)">Light Green</mat-option>
          <mat-option class="lime" value="rgb(205, 220, 57)">Lime</mat-option>
          <mat-option class="yellow" value="rgb(255, 235, 59)">Yellow</mat-option>
          <mat-option class="amber" value="rgb(255, 193, 7)">Amber</mat-option>
          <mat-option class="orange" value="rgb(255, 152, 0)">Orange</mat-option>
          <mat-option class="deep-orange" value="rgb(255, 87, 34)">Deep Orange</mat-option>
          <mat-option class="brown" value="rgb(121, 85, 72)">Brown</mat-option>
          <mat-option class="grey" value="rgb(158, 158, 158)">Grey</mat-option>
          <mat-option class="blue-grey" value="rgb(96, 125, 139)">Blue-grey</mat-option>
          <mat-option class="black" value="rgb(0, 0, 0)">Black</mat-option>
          <mat-option class="white" value="rgb(255, 255, 2550">White</mat-option>
        </mat-select>
        <mat-label><mat-icon color="accent">color_lens</mat-icon>Primary Colour</mat-label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-select formControlName="secondaryColour">
          <mat-option>-- None --</mat-option>
          <mat-option class="red" value="rgb(244, 67, 54)">Red</mat-option>
          <mat-option class="pink" value="rgb(233, 30, 99)">Pink</mat-option>
          <mat-option class="purple" value="rgb(156, 39, 176)">Purple</mat-option>
          <mat-option class="deep-purple" value="rgb(103, 58, 183)">Deep Purple</mat-option>
          <mat-option class="indigo" value="rgb(63, 81, 181)">Indigo</mat-option>
          <mat-option class="blue" value="rgb(33, 150, 243)">Blue</mat-option>
          <mat-option class="light-blue" value="rgb(3, 169, 244)">Light Blue</mat-option>
          <mat-option class="cyan" value="rgb(0, 188, 212)">Cyan</mat-option>
          <mat-option class="teal" value="rgb(0, 150, 136)">Teal</mat-option>
          <mat-option class="green" value="rgb(76, 175, 80)">Green</mat-option>
          <mat-option class="light-green" value="rgb(139, 195, 74)">Light Green</mat-option>
          <mat-option class="lime" value="rgb(205, 220, 57)">Lime</mat-option>
          <mat-option class="yellow" value="rgb(255, 235, 59)">Yellow</mat-option>
          <mat-option class="amber" value="rgb(255, 193, 7)">Amber</mat-option>
          <mat-option class="orange" value="rgb(255, 152, 0)">Orange</mat-option>
          <mat-option class="deep-orange" value="rgb(255, 87, 34)">Deep Orange</mat-option>
          <mat-option class="brown" value="rgb(121, 85, 72)">Brown</mat-option>
          <mat-option class="grey" value="rgb(158, 158, 158)">Grey</mat-option>
          <mat-option class="blue-grey" value="rgb(96, 125, 139)">Blue-grey</mat-option>
          <mat-option class="black" value="rgb(0, 0, 0)">Black</mat-option>
          <mat-option class="white" value="rgb(255, 255, 2550">White</mat-option>
        </mat-select>
        <mat-label><mat-icon color="accent">color_lens</mat-icon>Secondary Colour</mat-label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-select formControlName="tertiaryColour">
          <mat-option>-- None --</mat-option>
          <mat-option class="red" value="rgb(244, 67, 54)">Red</mat-option>
          <mat-option class="pink" value="rgb(233, 30, 99)">Pink</mat-option>
          <mat-option class="purple" value="rgb(156, 39, 176)">Purple</mat-option>
          <mat-option class="deep-purple" value="rgb(103, 58, 183)">Deep Purple</mat-option>
          <mat-option class="indigo" value="rgb(63, 81, 181)">Indigo</mat-option>
          <mat-option class="blue" value="rgb(33, 150, 243)">Blue</mat-option>
          <mat-option class="light-blue" value="rgb(3, 169, 244)">Light Blue</mat-option>
          <mat-option class="cyan" value="rgb(0, 188, 212)">Cyan</mat-option>
          <mat-option class="teal" value="rgb(0, 150, 136)">Teal</mat-option>
          <mat-option class="green" value="rgb(76, 175, 80)">Green</mat-option>
          <mat-option class="light-green" value="rgb(139, 195, 74)">Light Green</mat-option>
          <mat-option class="lime" value="rgb(205, 220, 57)">Lime</mat-option>
          <mat-option class="yellow" value="rgb(255, 235, 59)">Yellow</mat-option>
          <mat-option class="amber" value="rgb(255, 193, 7)">Amber</mat-option>
          <mat-option class="orange" value="rgb(255, 152, 0)">Orange</mat-option>
          <mat-option class="deep-orange" value="rgb(255, 87, 34)">Deep Orange</mat-option>
          <mat-option class="brown" value="rgb(121, 85, 72)">Brown</mat-option>
          <mat-option class="grey" value="rgb(158, 158, 158)">Grey</mat-option>
          <mat-option class="blue-grey" value="rgb(96, 125, 139)">Blue-grey</mat-option>
          <mat-option class="black" value="rgb(0, 0, 0)">Black</mat-option>
          <mat-option class="white" value="rgb(255, 255, 2550">White</mat-option>
        </mat-select>
        <mat-label><mat-icon color="accent">color_lens</mat-icon>Tertiary Colour</mat-label>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveTeam()">Save</button>
</div>
