<h1 mat-dialog-title>{{ forename }} Played Up Data</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-chip-list #playedUpDates formControlName="playedUps">
        <mat-chip *ngFor="let playedUp of form.get('playedUps').value; let i = index" removable="true" (removed)="removePlayedUpDate(i, playedUp.id)">
          {{ playedUp.played_up_date | date:'longDate' }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input matInput
               [matChipInputFor]="playedUpDates"
               (matChipInputTokenEnd)="addPlayedUpDate($event)"
               (dateChange)="addPlayedUpDate($event)"
               [matDatepicker]="playedUpDate" placeholder="Select date">
        <mat-datepicker-toggle matSuffix [for]="playedUpDate"></mat-datepicker-toggle>
        <mat-datepicker #playedUpDate></mat-datepicker>
      </mat-chip-list>
    </mat-form-field>
    <mat-datepicker></mat-datepicker>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="primary">Done</button>
</div>
<!--(dateChange)="addPlayedUpDate($event);"-->
