<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span class="navbar-brand"></span>
    </mat-toolbar>
    <mat-nav-list class="d-flex flex-column">
      <a mat-list-item routerLink="home" routerLinkActive="active-route">
        <i class="material-icons pr-2">dashboard</i>
        Dashboard
      </a>
      <a mat-list-item routerLink="teams" routerLinkActive="active-route">
        <i class="material-icons pr-2">group</i>
        Teams
      </a>
      <a mat-list-item routerLink="tables" routerLinkActive="active-route">
        <i class="material-icons pr-2">table_chart</i>
        Tables
      </a>
      <a mat-list-item routerLink="fixtures" routerLinkActive="active-route">
        <i class="material-icons pr-2">date_range</i>
        Fixtures
      </a>
      <a mat-list-item routerLink="results" routerLinkActive="active-route">
        <i class="material-icons pr-2">assessment</i>
        Results
      </a>
      <a mat-list-item routerLink="umpires" routerLinkActive="active-route">
        <i class="material-icons pr-2">account_circle</i>
        Umpires
      </a>
      <a mat-list-item routerLink="played-up" routerLinkActive="active-route">
        <i class="material-icons pr-2">arrow_upward</i>
        Played up table
      </a>
      <mat-accordion class="nav-submenu">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons pr-2">build</i>
              Configure
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="d-flex flex-column">
            <a mat-list-item routerLink="configure-teams" routerLinkActive="active-route">
              <i class="material-icons pr-2">group</i>
              Teams
            </a>
            <a mat-list-item routerLink="configure-teams" routerLinkActive="active-route">
              <i class="material-icons pr-2">face</i>
              Players
            </a>
            <a mat-list-item routerLink="configure-teams" routerLinkActive="active-route">
              <i class="material-icons pr-2">trending_down</i>
              Deduct Points
            </a>
            <a mat-list-item routerLink="new-season" routerLinkActive="active-route">
              <i class="material-icons pr-2">supervised_user_circle</i>
              Build New Season
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button><mat-icon>menu</mat-icon></button>
      <h1 class="mat-headline">{{ displayTitle }}</h1>
    </mat-toolbar>
    <router-outlet class="bg"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
