.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 250px;
  background: #4E546C;
}
.sidenav .mat-toolbar {
  background: #555C78;
  height: 75px;
  margin-bottom: 20px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-nav-list {
  padding: 0 10px;
}
.sidenav-container .sidenav .mat-list-item {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  &.active-route {
    color: #FFF;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    //background-image: linear-gradient(27deg, #5A0891 8%, #830BD3 100%);
    background: #2DD1AC;
  }
}
.mat-toolbar {
  //background-image: linear-gradient(27deg, #5A0891 8%, #830BD3 100%);
  height: 75px;
  background: #FFF;
}
.navbar-brand {
  background: url("../../assets/img/enl-logo-white.svg") no-repeat left center;
  height: 55px;
  width: 86px;
  display: block;
  background-size: contain;
}
.mat-icon-button {
  color: #697B8C;
  margin-right: 30px;
}
h1 {
  color: #697B8C;
}
