<div class="fullscreen-bg">
  <img class="logo-login" src="../../assets/img/enl-logo-white.svg">
  <div class="container h-100">
    <div class="row align-items-center flex-column h-100">
      <div class="col-10 col-md-6 col-lg-4">
        <img class="enl-large-type" src="../../assets/img/enl-words.png">
        <form>
          <div class="form-header">
            <h4 class="text-center">Welcome to ENL</h4>
          </div>
          <div class="form-inner">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" matInput>
            </mat-form-field>
            <button class="w-100 btn-submit my-4" mat-button type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
