<div class="container-fluid py-4">
  <div class="row">
    <div class="col">
      <mat-tab-group (selectedTabChange)="test($event)">
        <mat-tab *ngFor="let division of activeDivisions$ | async" label="{{division.id}}">
          <ng-template mat-tab-label>
            {{ division.name }}
          </ng-template>
          <mat-table [dataSource]="tables$" class="w-100">
            <ng-container matColumnDef="teamName">
              <mat-header-cell *matHeaderCellDef>Team Name</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.team_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="win">
              <mat-header-cell *matHeaderCellDef>Wins</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.win}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loss">
              <mat-header-cell *matHeaderCellDef>Losses</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.loss}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="draw">
              <mat-header-cell *matHeaderCellDef>Draws</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.draw}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="goalsFor">
              <mat-header-cell *matHeaderCellDef>Goals For</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.goals_for}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="goalsAgainst">
              <mat-header-cell *matHeaderCellDef>Goals Against</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.goals_against}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="goalDifference">
              <mat-header-cell *matHeaderCellDef>Goal Difference</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.goal_difference}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="points">
              <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
              <mat-cell *matCellDef="let team"> {{team.points}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- inside tabs? -->
