/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
.mat-drawer-container {
  background-color: #EEF4F9;
}
h4 {
  font-weight: 300;
  font-size: 20px !important;
}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

