/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
.mat-drawer-container {
  background-color: #EEF4F9;
}
h4 {
  font-weight: 300;
  font-size: 20px !important;
}
.icon-size-2 {
  transform: scale(2);
}
.icon-size-3 {
  transform: scale(3);
}

.wide-dialog {
  width: 80vw;
  @media (min-width: 768px) {
    width: 600px;
  }
}
button {
  &:active, &:hover, &:focus, &:visited {
    outline: none;
  }
}

