<div class="container py-4">
  <div class="row">
    <div class="col mb-4">
      <h4 class="mb-2">{{ team.name }}</h4>
      <p>{{ team.narrative }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table *ngIf="(playersLoading | async) !== null" class="w-100" mat-table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="forename">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td (click)="selection.toggle(row)" mat-cell *matCellDef="let player; let row;"> {{player.forename}} </td>
          <td mat-footer-cell *matFooterCellDef>
            <mat-form-field class="w-75">
              <input matInput placeholder="First Name" required [(ngModel)]="newPlayer.forename">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td (click)="selection.toggle(row)" mat-cell *matCellDef="let player; let row;"> {{player.surname}} </td>
          <td mat-footer-cell *matFooterCellDef>
            <mat-form-field class="w-75">
              <input matInput placeholder="Last Name" required [(ngModel)]="newPlayer.surname">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="playedUpCount">
          <th mat-header-cell *matHeaderCellDef>Played Up</th>
          <td mat-cell *matCellDef="let player">
            <div class="row text-left">
              <div class="col-12">
                <button (click)="updatePlayedUpCount('up', player)" class="mb-2" mat-icon-button color="warn"><mat-icon>arrow_upward</mat-icon></button>
              </div>
              <div class="col-12 d-flex">
                <span class="d-inline-block table-badge" matBadge="{{ player.playedUpCount }}" [matBadgeColor]="playedUpSignals(player.playedUpCount)"></span>
              </div>
              <div class="col-12">
                <button (click)="updatePlayedUpCount('down', player)" class="mt-2" mat-icon-button color="accent"><mat-icon>arrow_downward</mat-icon></button>
              </div>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <button (click)="addPlayer()" mat-icon-button color="accent"><mat-icon>done_outline</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </tr>
        <tr mat-footer-row *matFooterRowDef="footerColumnsToDisplay"></tr>
      </table>
      {{ selectedCount() }}
    </div>
  </div>
</div>
