@keyframes fadeIn {
  0% {
    opacity:0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
.mat-card-content .canvas-container {
  flex-grow: 1;
  canvas {
    position: relative;
    top: 35px;
  }
}
mat-card-header.mat-card-header {
  margin-top: -35px;
  border-radius: 3px;
  background: linear-gradient(60deg,#ab47bc,#8e24aa);
}
.mat-card .mat-card-content {
  animation: 2s ease 0s normal forwards 1 fadeIn;
}
.mat-card .mat-card-actions {
  animation: 2s ease 0s normal forwards 1 fadeIn;
}
.mat-card-content h4{
  margin-top: -35px;
  margin-bottom: 0;
  color: #697B8C;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  flex-grow: 1;
}
.mat-card-content button {
  position: relative;
  bottom: 35px;
}
.bg-1 .mat-card-header {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.bg-2 .mat-card-header {
  background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.bg-3 .mat-card-header {
  background: linear-gradient(60deg,#ef5350,#e53935);
}
.under-stats p {
  font-family: 'Roboto Slab', serif;
  color: #697B8C;
  font-size: 40px;
}
.under-stats h4 {
  font-family: 'Roboto Slab', serif;
  color: #697B8C;
  font-size: 55px !important;
  margin-top: 30px;
}
mat-card-title.mat-card-title {
  margin-bottom: 0;
  padding: 20px 0;
  color: #FFF;
}
mat-card {
  margin-top: 50px;
}
.xl-card-icon {
  font-size: 120px;
  color: #4E546C;
}
.under-stats {
  margin-top: 75px;
}
